
nav{
  border:1px solid black;
}
.WD{
  width: 200px;

div p{
  margin:0 350px 0 0;
}
.top{
  margin:0 0 0 125px;
  position: static;
}
.flavors{
  float:left;
  position:relative;}

.float-left{

}
