html, body, * {
  box-sizing:border-box;
  background-color: lightblue;
  font-family: sans-serif;
}
ul{
  list-style: none;
}
ul.left-side{
  float: left;
  margin: 0 0 0 0;
  padding: 0;
}

li{
  display:inline;
}
ul.right-side{
  text-align: right;
  /*margin: 0 10px 10px 0;*/
  font-size: 0.5em;

}
nav img{
  background-color: inherit;
  float:left;
}
header{
  text-align:center;
  color:black;
  font-weight: bolder;
  border: 5px dotted hotpink;
}
nav{
  font-size:2em;
}
h1 {
  text-align: left;
  border: 3px soild lightpink;
}
hr {
  margin: 50px;
  clear: both;
  border-color: #ccc;
}

.left{
  width: 27%;
  float: left;
  margin: 10px;
}
.center{
  display: block;
  margin: 0px auto;
  width: 27%;

}
.right{
width: 27%;
float: right;
margin: auto;
}
tr.odd {
  background-color:blue;
}
.banner{
  width:100%;
  height:auto;
}
footer{
  text-align: center;
  padding: 1px;
  margin:1px;
  border:1px;
  position: relative;

}

.cf:before,
.cf:after{
  content:" ";
  display:table;
}

.cf:after{
  clear:both;
}
a:link{
  color:hotpink;
}
a:visited{
  color:pink;
}
a:hover{
  background-color: black;
  color:white;
}
a:focus{
  font-style:italic;
}
a:active{
 text-decoration: line-through;
}





------------------



/*nav{
  border:1px solid black;
}

.thirds{
  background: yellow;
  border:1px solid red;
  float:left;

}
footer{
  position: static;
}

  margin:0 0 0 125px;
  position: static;
}
.flavors{
  background: lightgreen;
  border:1px solid green;
  float:left;
  position:relative;
  float: left;
}

.float-left{
  float:left;
  background: lightblue;
  border: 1px solid blue;
  margin: 0 300px 0 125px;

}*/
